.Editor{
    background-color: white;
    font-family: sans-serif;
    h2{
        
    }
    input{
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.4em;


    }
    textarea{
        background-color: white;
    }
}
