.Preview {
  height: 100vh;
  padding: 2.5em;
  color: black;
}


@media print {
  body * {
    visibility: hidden;
  }

  .Preview * {
    visibility: visible;
    
  }

  
  .Preview {
    position: absolute;
    left: 0;
    top: 0;
  }

  .Preview .print {
   display: none;
  }
  
}
.print{
  color: white;
  background-color: #1F3A6D;
}

